name: EKS Daily Start & Stop

on:
  schedule:
    - cron: '30 2 * * 1-5'     # 8:00 AM IST → 2:30 AM UTC
    - cron: '30 16 * * 1-5'    # 10:00 PM IST → 4:30 PM UTC

permissions:
  id-token: write
  contents: read

jobs:
  eks-start:
    if: github.event.schedule == '30 2 * * 1-5'
    runs-on: ubuntu-latest
    name: Start EKS Cluster (Morning)

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::421939322861:role/github-eks-start-stop
          aws-region: us-east-1

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install required Python packages
        run: |
          pip install boto3 pyyaml

      - name: Run EKS Start
        run: |
          python eks_manager.py amg tsv2-demo2 start

  eks-stop:
    if: github.event.schedule == '30 16 * * 1-5'
    runs-on: ubuntu-latest
    name: Stop EKS Cluster (Night)

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::421939322861:role/github-eks-start-stop
          aws-region: us-east-1

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install required Python packages
        run: |
          pip install boto3 pyyaml

      - name: Run EKS Stop
        run: |
          python eks_manager.py amg tsv2-demo2 stop
